.dtquick label,
.dtquick div div#pages,
h1#notFound {
    user-select: none;
    cursor: pointer;
}

.dtquick img {
    width: 20px;
    mix-blend-mode: multiply;
    margin-left: 12px;
    transition: all 0.3s;
}

.dtquick table thead th {
    cursor: pointer;
    user-select: none;
}

.dtquick div div.taskBar {
    display: grid;
    margin-bottom: 30px;
    grid-template-columns: auto 1fr auto 300px;
    gap: 100px;
}

.dtquick div div div {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

.dtquick div div.taskBar div label {
    margin: 7px 0 0;
}
